/*body{
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}*/

.square:focus {
  outline: none;
}

.col{
  flex-grow: 0 !important;
}

.game {
  display: flex;
  flex-direction: row;
  margin : 10px;
}

.game-info {
  margin-left: 20px;
}

.square {
  border: none;
  float: left;
  height: 50px;
  width: 50px;
  background-image: url(../img/base.bmp);
}

.X{
  background-image: url('../img/rosso.bmp');
}

.O{
  background-image: url('../img/giallo.bmp');
}