body{
  background-color: #859ae0 !important;
  padding: 20px;
}

.sito{
  text-align: center;
}

.conent{
  margin-left: auto;
  margin-right: auto;
}

.game {
  display: flex;
  /*flex-direction: row-reverse;*/
  margin-left: auto;
  margin-right: auto;
}

.game-info {
  margin-left: 20px;
}

.status {
  margin-bottom: 10px;
}

ul.header li {
  display: inline;
  list-style-type: none;
  margin: 0;
}
ul.header {
  background-color: #111;
  padding: 0;
}

ul.header li a{
  color: #FFF; 
  font-weight: bold;
  text-decoration: none;
  padding: 20px;
  display: inline-block;
}
ul.header li a:hover{
  background-color: blue;
}

.btn{
  margin: 2px;
  background-color: blue !important;
}

