
.f4square {
    min-width: 44px;
    min-height: 44px;
    max-width: 90px;
    max-height: 90px;
    width: 12vw; /* larghezza rispetto alla dimensione totale dello schermo*/
    height: 12vw;
    border-radius: 50%;
    border: solid blue;
    background-color: white;
  }

  .X{
    background-color: red;
  }
  
  .O{
    background-color: yellow;
  }

  .f4square:focus {
    outline: none;
  }
  