
.history ol{
  padding: 0px;
  list-style-type: none;
  display: inline;
}

.history ol li{
  display: inline;
}

.squareTris {
  background: #fff;
  border: 1px solid blue;
  font-size: 80px;
  font-weight: bold;
  line-height: 80px;
  height: 80px;
  text-align: center;
  margin-top: -1px;
  margin-right: -1px;
  width: 80px;
  font-family: sans-serif;
}

.selected{
  background: yellow;
}

.squareTris:focus {
  outline: none;
}